body {
    background-color: #B1E1FF;
}
hr{
    border-style: none;
    border-top-style: dotted ;
    border-color: #9C9EFE;
    border-width: 5px;
    width: 8%;
}
h1{
    color: #A66CFF;
}
h3{
    color: #A66CFF;
}